@import "./base.css";

head {
  background: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--bg-color);

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.h3 {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
}

.h4 {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
}

::placeholder {
  color: var(--input-color-label);
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: var(--input-color-label);
  opacity: 0.5;
}

/* Tablet */
@media (max-width: 900px) {
  .h1 {
    font-size: 20px;
    line-height: 35px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .h1 {
    font-size: 18px;
    line-height: 23px;
  }
}
