@import "./base.css";

body {
  display: flex;
  place-items: center;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--bg-color);

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h2 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

::placeholder {
  color: var(--input-color-label);
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: var(--input-color-label);
  opacity: 0.5;
}
