@import "./base.css";

head {
  background: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--bg-color);

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

h2 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

::placeholder {
  color: var(--input-color-label);
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: var(--input-color-label);
  opacity: 0.5;
}
